/* Colors */
.intro-home {
  height: 700px; }

.intro .cloud-1 {
  position: absolute;
  top: 25px;
  left: 350px;
  animation: bounce 1s linear;
  animation-delay: 1s;
  animation-duration: 1s; }

.intro .cloud-2 {
  position: absolute;
  top: 15px;
  left: 150px;
  animation: bounce 1s linear;
  animation-delay: 2s;
  animation-duration: 1s; }

.home-chatbot {
  overflow-y: hidden; }
  .home-chatbot .row {
    flex-flow: row;
    flex-wrap: wrap; }
  .home-chatbot .body-text {
    max-width: 500px; }
  .home-chatbot .phone {
    margin-right: 100px; }
    .home-chatbot .phone video {
      width: 300px;
      display: block;
      top: -5px;
      position: relative;
      border-radius: 8px;
      box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15); }

.home-manager {
  background: #232C63;
  overflow: hidden;
  height: 700px; }
  .home-manager h2, .home-manager p {
    color: #ffffff; }
  .home-manager .img-wrapper img {
    width: 850px;
    top: -50px;
    left: 50px; }

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }
