/* Colors */
.menu-link:nth-child(1):after {
  opacity: 1; }

.intro {
  height: 700px;
  background: transparent; }
  .intro::before {
    width: 110%;
    left: -5%;
    height: 700px;
    background: linear-gradient(135deg, #3D5AFE 0%, #7093FF 100%);
    position: absolute;
    top: 0;
    content: '';
    border-radius: 0 0 50% 50% / 25%;
    overflow-x: hidden; }
  .intro .row {
    position: relative;
    top: -30px; }
  .intro .cloud-1 {
    position: absolute;
    top: 25px;
    left: 350px;
    animation: bounce 1s linear;
    animation-delay: 1s;
    animation-duration: 1s; }
  .intro .cloud-2 {
    position: absolute;
    top: 15px;
    left: 150px;
    animation: bounce 1s linear;
    animation-delay: 2s;
    animation-duration: 1s; }
  .intro .btn {
    margin-top: 15px; }
  .intro .mouse {
    position: absolute;
    display: block;
    left: calc(50% - 17.5px);
    width: 35px;
    height: 55px;
    bottom: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 23px; }
    .intro .mouse * {
      position: absolute;
      display: block;
      top: 29%;
      left: 50%;
      width: 6px;
      height: 6px;
      margin: -3px 0 0 -3px;
      background: white;
      border-radius: 50%;
      -webkit-animation: mouse 2.5s linear infinite;
      -moz-animation: mouse 2.5s linear infinite;
      animation: mouse 2.5s linear infinite; }

.phone {
  position: absolute;
  top: -50px;
  left: 75px;
  width: 267px;
  height: 553px;
  border-radius: 38px;
  background: #F6F9FC;
  box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
  transform: skew(-10deg, 10deg); }
  .phone-home {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background: #E2E7EC;
    position: absolute;
    bottom: 25px;
    left: 113px; }
  .phone img {
    width: 253px;
    position: relative;
    top: 45px;
    left: 7px; }

.tablet {
  position: absolute;
  left: -200px;
  width: 675px;
  height: 450px;
  border-radius: 38px;
  background: #F6F9FC;
  box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
  transform: skew(10deg, -10deg); }
  .tablet img {
    height: 436px;
    top: 7px;
    left: 47px;
    position: relative; }

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }

@-webkit-keyframes mouse {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 50%; }
  50% {
    opacity: 0;
    top: 50%; }
  100% {
    opacity: 0;
    top: 29%; } }
