@import '../../lib/styles/variables.scss';

.intro {
  height: calc(100vh - 90px);

  .row {
    position: relative;
    top:-45px;
  }
}

.steps {
  text-align: center;
  .img-icon {
    margin: 0 auto 25px auto;
  }
}
