@import '../../lib/styles/variables.scss';

.intro {
  &-features {

    .intro-block.center-section {
      margin-bottom: 0px;
    }

    &:before {
      background: $gradient-2;
      height: 900px;
    }
  }

  .row {
    position: relative;
    top: 0px !important;
  }

  &-list {
    position: relative;
    margin-top: 75px;
    display: flex;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;

    li {
      margin: auto;
    }

    &-item {
      display: block;
      text-align: center;
      width: 175px;
      height: 150px;

      &-icon {
        height: 50px;
        width:50px;
        border-radius: 50px;
        background: rgba(255,255,255,0.15);
        border: solid 5px rgba(43,49,58,0.75);
        margin: auto;
        display: flex;
        align-items: center;

        &.blue {
          background: $main-color;
        }

        &.green {
          background: $alt-color;
        }

        &.red {
          background: $red;
        }

        &.orange {
          background: $orange;
        }

        img {
          margin: auto;
        }
      }

      &-title {
        color: $white;
        font-size: 18px;
        font-weight: 600;
        margin-top: 15px;
      }

      &-subtitle {
        color: $grey-3;
        margin-top: 5px;
      }
    }
  }
}

.features-overview {
  padding-bottom: 0px;

  h2 {
    margin-bottom: 25px;
  }
}
