/* Colors */
.intro-features:before {
  background: #232C63; }

.intro .row {
  position: relative;
  top: 0px !important; }

.intro-list {
  position: relative;
  margin-top: 75px;
  display: flex;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap; }
  .intro-list li {
    margin: auto; }
  .intro-list-item {
    display: block;
    text-align: center;
    width: 175px;
    height: 150px; }
    .intro-list-item .img-icon {
      margin: auto; }
    .intro-list-item-title {
      color: #ffffff;
      font-size: 18px;
      font-weight: 600;
      margin-top: 15px; }
    .intro-list-item-subtitle {
      color: #CBD1DB;
      margin-top: 5px; }

.features-overview h2 {
  margin-bottom: 25px; }

.features-ordering {
  background: #F6F9FC; }

.features-ux {
  background: #3D5AFE; }
  .features-ux h2, .features-ux p {
    color: #ffffff; }

.features-commerce {
  background: #232C63; }
  .features-commerce h2, .features-commerce p {
    color: #ffffff; }
