@import '../../lib/styles/variables.scss';

.intro {
  &-features {
    background: $dark-main;
  }

  .row {
    position: relative;
    top: 0px !important;
  }

  &-list {
    position: relative;
    margin-top: 75px;
    display: flex;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;

    li {
      margin: auto;
    }

    &-item {
      display: block;
      text-align: center;
      width: 175px;
      height: 150px;

      .img-icon {
        margin: auto;
      }

      &-title {
        color: $white;
        font-size: 18px;
        font-weight: 600;
        margin-top: 15px;
      }

      &-subtitle {
        color: $grey-3;
        margin-top: 5px;
      }
    }
  }
}

.features-type {
  color: $white;
  opacity: 0.75;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;

  &.dark {
    color: $black;
  }
}

.feature {

  &-ordering {
    background: $grey-5;

    h3 {
      text-transform: uppercase;
      font-size: 18px;
      color: $grey-1;
      font-weight: 700;
    }
  }

  &-ux {
    background: $main-color;
    overflow-y: hidden;
    height: 700px;

    h2, p {
      color: $white;

      .accent {
        color: $white;
      }
    }

    .img-wrapper img {
      width: 375px;
      top: -100px;
      transform: rotate(-10deg);
    }
  }

  &-commerce {
    background: $dark-main;
    height: 800px;

    h2, p {
      color: $white;

      .accent {
        color: $white;
      }
    }

    &-gear, &-food {
      width: 300px;
      box-shadow: $shadow;
    }

    &-gear {
      z-index: 99;
      top: -50px;
    }

    &-food {
      left: 250px;
      top: -150px;
    }
  }

  &-manager {
    height: 700px;
    overflow-y: hidden;

    .img-wrapper img {
      right: 75px;
      width: 850px;
    }
  }
}
