@import '../../lib/styles/variables.scss';

.intro {
  &-features {
    //background: $dark-main;

    &:before {
      background: $dark-main;
    }
  }

  .row {
    position: relative;
    top: 0px !important;
  }

  &-list {
    position: relative;
    margin-top: 75px;
    display: flex;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;

    li {
      margin: auto;
    }

    &-item {
      display: block;
      text-align: center;
      width: 175px;
      height: 150px;

      .img-icon {
        margin: auto;
      }

      &-title {
        color: $white;
        font-size: 18px;
        font-weight: 600;
        margin-top: 15px;
      }

      &-subtitle {
        color: $grey-3;
        margin-top: 5px;
      }
    }
  }
}

.features-overview {
  h2 {
    margin-bottom: 25px;
  }
}

.features-ordering {
  background: $grey-5;
}

.features-ux {
  background: $main-color;

  h2, p {
    color: $white;
  }
}

.features-commerce {
  background: $dark-main;

  h2, p {
    color: $white;
  }
}
