@import '../../lib/styles/variables.scss';

nav {
  font-size: 18px;
  font-weight: 600;
  z-index: 99;
  position: absolute;
  width: 100%;
  border-bottom: solid 1px rgba(255,255,255,0.1);

  .nav-wrapper {
    height: 90px;
    display: flex;
    align-items: center;
  }

  a {
    color: $white;

    &:hover, &:focus {
      color: $white;
      outline: none;
    }
  }
}

.menu {
  display: none;
  flex-basis: auto;
  flex-grow: 1;
  justify-content: flex-end;

  &-link {
    margin: 0 3rem;
    position: relative;

    &.active {
      &:after {
        opacity: 1;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &:after {
      content: '';
      transition: 0.3s;
      opacity: 0;
      position: absolute;
      bottom: -2px;
      left: 0;
      height: 2px;
      width: 100%;
      background: $white;
    }

    &:hover {
      opacity: 1;

      &:after {
        opacity: 1;
      }
    }
  }
}

.mobile-menu {
  flex-basis: auto;
  flex-grow: 1;
  justify-content: flex-end;

  &-icon {
    float: right;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }

  &-links {
    display: none;
    position: absolute;
    top: 75px;
    left: 0;
    background: $white;
    border-radius: 15px;
    padding: 15px;
    z-index: 99;
    width: calc(100% - 30px);
    box-shadow: $shadow;
    margin: 0 15px;

    li {
      border-bottom: solid 1px $grey-4;
      display: block;
      padding: 10px 0;

      &:last-child {
        border-bottom: none;
      }

      a {
        color: $grey-1;
        cursor: pointer;
      }
    }
  }
}


@media (min-width: 600px) {
	nav {
		.menu {
			display: flex;
		}

		.mobile-menu {
			display: none;
		}
	}
}
