/* Colors */
.request {
  background: #F6F9FC;
  color: #ffffff; }
  .request h2 {
    color: #2B313A;
    font-weight: 400; }
    .request h2 .accent {
      color: #3D5AFE;
      font-weight: 700; }

@media (min-width: 576px) {
  .request .row {
    display: flex;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap; }
    .request .row .btn {
      float: right; } }
