@import '../../lib/styles/variables.scss';


.request {
  background: $grey-5;

  h2 {
    color: $black;
    font-weight: 400;

    .accent {
      color: $main-color;
      font-weight: 600;
    }
  }
}

@media (max-width: 768px) {
  .request {

    h2 {
      text-align: center;
    }

    .btn {
      margin: auto !important;
      display: table;
    }
  }
}

@media (min-width: 576px) {
  .request {
    .row  {
      display: flex;
      align-items: center;
      flex-flow: row;
      flex-wrap: wrap;

      .btn {
        float: right;
      }
    }
  }
}
