/* Colors */
footer {
  padding: 75px 0;
  font-size: 18px;
  color: #2B313A; }
  footer .footer-list li {
    margin-bottom: 5px;
    display: flex;
    align-items: center; }
    footer .footer-list li a {
      cursor: pointer; }
  footer .footer-list-title {
    color: #6F7785;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px !important; }
  footer .brand {
    margin-bottom: 25px; }
    footer .brand a:hover {
      color: #3D5AFE; }
    footer .brand .logo g {
      fill: #3D5AFE; }
  footer a {
    color: #3D5AFE; }
    footer a:hover {
      color: #434E5D; }
  footer .copyright {
    text-align: left; }
  footer .divider {
    width: 100%;
    background: #ffffff;
    opacity: 0.1;
    height: 1px;
    margin: 25px 0; }

@media (max-width: 767px) {
  footer .brand, footer .footer-list {
    margin-bottom: 25px !important; } }
