@import '../../lib/styles/variables.scss';

footer {
  padding: 75px 0;
  font-size: 18px;
  color: $black;
  background:  $white;

  .footer-list {

    li {
      margin-bottom: 5px;
      display: flex;
      align-items: center;

      a {
        cursor: pointer;
      }
    }

    &-title {
      color: $grey-2;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 15px !important;
    }
  }

  .brand {
    margin-bottom: 25px;

    a:hover {
      color: $main-color;
    }
  }

  a {
    color: $main-color;

    &:hover {
      color: $grey-1;
    }
  }

  .copyright {
    text-align: left;
  }

  .divider {
    width: 100%;
    background: $white;
    opacity: 0.1;
    height: 1px;
    margin: 25px 0;
  }
}

@media (max-width: 767px) {
  footer {
    .brand, .footer-list {
      margin-bottom: 25px !important;
    }
  }
}
