@import '../../lib/styles/variables.scss';

footer {
  padding: 75px 0;
  font-size: 18px;
  color: $black;
  background: $alt-gradient;

  .footer-list {

    li {
      margin-bottom: 5px;
      display: flex;
      align-items: center;

      a {
        cursor: pointer;
        color: $white;
      }
    }

    &-title {
      color: $grey-3;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 15px !important;
    }
  }

  .brand {
    margin-bottom: 35px;

    &-logo {
      path {
        fill: $white;
      }
    }
    a {
      color: $white;

      &:hover {
        color: $white;
      }
    }
  }

  a {
    color: $black;
    font-weight: 600;

    &:hover {
      color: $grey-1;
    }
  }

  .copyright {
    text-align: left;
    color: $white;
  }

  .divider {
    width: 100%;
    background: $white;
    opacity: 0.1;
    height: 1px;
    margin: 25px 0;
  }
}

@media (max-width: 767px) {
  footer {
    .brand, .footer-list {
      margin-bottom: 25px !important;
    }
  }
}
